/Colecciones/Ej4/nbproject/private/
/Colecciones/Ej1y2/nbproject/private/
/Colecciones/Ej3/nbproject/private/
/Colecciones/Ej3/build/
/Colecciones/Guia8Ej3/build/
/Colecciones/Guia8Ej3/nbproject/private/